#### Read In and Clean Text

In [1]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
import numpy as np
import pandas as pd
import re
from sklearn.model_selection import train_test_split
import string

stopwords = nltk.corpus.stopwords.words('english')

messages = pd.read_csv('/content/spam.csv', encoding='latin-1')
messages = messages.drop(labels = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1)
messages.columns = ['label', 'text']
messages['label'] = np.where(messages['label']=='spam', 1, 0)


def clean_text(text):
  text = "".join([word.lower() for word in text if word not in string.punctuation])
  tokens = re.split('\W+', text)
  text = [word for word in tokens if word not in stopwords]
  return text

messages['clean_text'] = messages['text'].apply(lambda x: clean_text(x))
messages.head()

,label,text,clean_text
0,0,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, bugis, n..."
1,0,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,0,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,0,"Nah I don't think he goes to usf, he lives aro...","[nah, dont, think, goes, usf, lives, around, t..."

Split data into train and test set

In [3]:
X_train, X_test, y_train, y_test = train_test_split(messages['clean_text'], 
                                                             messages['label'], 
                                                             test_size=0.2)

First ten messages of train dataset:

In [4]:
X_train[:]

3396                                 [heehee, funny, tho]
2225    [alrite, jod, hows, revision, goin, keris, bin...
4424                              [saw, messageit, k, da]
4123    [hey, sexy, buns, told, adore, loverboy, hope,...
2056               [please, charge, mobile, get, morning]
                              ...
4376                                   [much, torch, 9ja]
62                                   [part, checking, iq]
1291    [hey, babe, saw, came, online, second, disappe...
5075    [well, im, glad, didnt, find, totally, disagre...
896                          [hope, good, week, checking]
Name: clean_text, Length: 4457, dtype: object

First ten rows of labels

In [5]:
y_train[:10]

3396    0
2225    0
4424    0
4123    0
2056    0
1940    0
4835    0
4972    0
1197    0
1028    0
Name: label, dtype: int64

Let's save the training and test sets to ensure we are using the same data for each model.

In [6]:
X_train.to_csv('X_train.csv', index=False, header=True)
X_test.to_csv('X_test.csv', index=False, header=True)
y_train.to_csv('y_train.csv', index=False, header=True)
y_test.to_csv('y_test.csv', index=False, header=True)